---
layout: default
id: overview
nav: true
nav-order: 1
nav-title: "Überblick"
title: Sommerver&shy;längerung in sagenhafter&nbsp;Natur

banner:
  title-sup: Sommerver&shy;längerung in sagenhafter&nbsp;Natur
  title:  Bayerischer Herbst
  title-size: "banner-title--xl"
  copyright: "© Gert Krautbauer"

intro: "Geheimnisvolle Wälder, historische Städtchen, bunte Weinberge und funkelnde Seen, eingerahmt von Bergketten. Ein Urlaub in Bayern lohnt sich auch im Herbst, denn das Wetter ist Ihnen meist noch wohlgesonnen und ermöglicht Wander- und Radtouren, Freizeitaktivitäten im Wald und auf dem Wasser, Stadtbummel in mittelalterlichen Kulissen sowie Biergartenbesuche und Weinproben in der einzigartigen Szenerie des Freistaates. Die sprichwörtliche bayerische Gemütlichkeit und der südliche Lifestyle runden Ihre Urlaubserholung hier ab. Folgen Sie uns auf eine Reise durch das herbstliche Bayern und lassen Sie sich inspirieren."

---

<div class="bg--darkblue text--white" >
    <div class="container vpad--xl ">
      <div class="width width--xl text text--center text--normal text--xxl">
         <div class="text text--justify text--white">{{page.intro}}</div>
         <div class="space--sm"></div>
      </div>
    </div>
</div>

  {% assign destinations = site.html_pages | where: 'content-pages', 'true'  | sort:'nav-order' %}
  {% for destination in destinations %}
<div class="vpad--xl {% cycle '', 'bob--swap bg--light' %}">
<div class="container">
  <div class="bob {% cycle '', 'bob--swap' %}">
    <div class="bob__img" style="">
      {% if destination.banner.copyright %}
      <div class="text text--sm text--white text--normal bv-copyright" style="" >{{destination.banner.copyright}}</div>
        {% endif %}
      <a href="{{site.baseurl}}{{destination.url}}" class="bg-img bg-img--4-3 " style="background-image: url('{{site.img}}/content/{{destination.id}}.jpg'); "></a>

    </div>
    <div class="bob__text text--darkbrown">
      <div class="space--sm"></div>
      <h2 class="title title--lg text--bold text--darkblue bv-subtitle-divider">{{destination.title}}</h2>
      <div class="space--xxs"></div>
      <p class="text text--lg">{{destination.summary}}</p>
      <div class="space--lg"></div>
      <a href="{{site.baseurl}}{{destination.url}}" class=" btn btn--blue">{{destination.cta}}</a>


    </div>
  </div>
</div>
</div>
  {% endfor %}
